doctype html

html
	head
		title="TWEB - Exercice Angular"

		link(href="css/bootstrap.css", rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")

		link(href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic", rel="stylesheet", type="text/css")

		link(href="http://fonts.googleapis.com/css?family=Raleway:400,300,700", rel="stylesheet", type="text/css")

		script(src="js/jquery.min.js")
		script(src="js/smoothscroll.js")

		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js")
		script(src="js/Chart.js/Chart.js")
		script(src="js/angularChart/angular-chart.js")
		script(src="js/app.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.js")

	body(data-spy="scroll", data-offset="0", data-target="#navigation", ng-app="tweb")

		div(id="navigation", class="navbar navbar-default navbar-fixed-top" ng-controller="mainController")
			div(class="container")
				div(class="navbar-header")
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="#")
						b="TWEB - Exercice AngularJS"

				div(class="navbar-collapse collapse")
					ul(class="nav navbar-nav")
						li(ng-class="home")
							a(href="#/home", class="smothscroll")="Home {{ home }}"
						li(ng-class="admin")
							a(href="#/admin" class="smothscroll")="Admin"

		div(id="headerwrap")
			div(class="container")
				div(class="row centered")
					div(class="col-lg-12")
						h1="Main page"
						h3="Author : Valentin Schaad"

					div(class="col-lg-2")
						form
							button(type="submit", class="btn btn-primary btn-block")="Super !"

					div(class="col-lg-8", ng-view)
						h3="Comment trouvez-vous ce site ?"

					div(class="col-lg-2")
						form
							button(type="submit", class="btn btn-danger btn-block")="Cool !"